<section class="bg-light py-5">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-sm text-center">
                <p>Clientes</p>
                <h1 class="display-4 fw-bold">{{ qtd_clientes }}</h1>
            </div>
             <div class="col-sm text-center">
                <p>Fornecedores</p>
                <h1 class="display-4 fw-bold">{{ qtd_fornecedores }}</h1>
            </div>
            <div class="col-sm text-center">
                <p>Funcionários</p>
                <h1 class="display-4 fw-bold">{{ qtd_funcionarios }}</h1>
            </div>
            <div class="col-sm text-center">
                <p>Serviços</p>
                <h1 class="display-4 fw-bold">{{ qtd_servicos }}</h1>
            </div>
            <div class="col-sm text-center">
                <p>Produtos</p>
                <h1 class="display-4 fw-bold">{{ qtd_produtos }}</h1>
            </div>
            <div class="col-sm text-center">
                <p>Agendamentos</p>
                <h1 class="display-4 fw-bold">{{ qtd_agendamentos }}</h1>
            </div>
        </div>
    </div>
</section>