<section class="bg-light py-5">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-sm text-center">
                <p>Clientes</p>
                <h1 class="display-4 fw-bold">210</h1>
            </div>
             <div class="col-sm text-center">
                <p>Fornecedores</p>
                <h1 class="display-4 fw-bold">55</h1>
            </div>
            <div class="col-sm text-center">
                <p>Funcionários</p>
                <h1 class="display-4 fw-bold">5</h1>
            </div>
            <div class="col-sm text-center">
                <p>Serviços</p>
                <h1 class="display-4 fw-bold">20</h1>
            </div>
            <div class="col-sm text-center">
                <p>Produtos</p>
                <h1 class="display-4 fw-bold">35</h1>
            </div>
            <div class="col-sm text-center">
                <p>Agendamentos</p>
                <h1 class="display-4 fw-bold">120</h1>
            </div>
        </div>
    </div>
</section>