{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <div class="col-sm-5">
                        {% bootstrap_field form.cliente layout='horizontal' %}
                    </div>
                    <div class="col-sm-5">
                        {% bootstrap_field form.funcionario layout='horizontal' %}
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Agendamentos Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Horário</th>
                                <th>Cliente</th>
                                <th>Funcionário</th>
                                <th>Serviços</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                {% for agendamento in object_list %}
                                    <tr>
                                        <td> {{ agendamento.horario }} </td>
                                        <td> {{ agendamento.cliente }} </td>
                                        <td> {{ agendamento.funcionario }} </td>
                                        <td>
                                            {% for servico in agendamento.servicos %}
                                                    {{ servico }} - R$ {{ servico.preco }} ({{servico.get_situacao_display }})<br>
                                            {% endfor %}
                                            <strong>Valor total: {{ agendamento.valor }}</strong>
                                        </td>
                                        <td style="text-align: center">
                                            {% if agendamento.status == 'A' %}
                                                <a href="{% url 'agendamento_inline' agendamento.pk %}">
                                                    <span class="icon">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </span>
                                                </a>
                                                <a href="{% url 'agendamento_editar' agendamento.pk %}">
                                                    <span class="icon">
                                                        <i class="fas fa-edit"></i>
                                                    </span>
                                                </a>
                                                <a href="{% url 'agendamento_apagar' agendamento.pk %}">
                                                    <span class="icon">
                                                        <i class="far fa-trash-alt"></i>
                                                    </span>
                                                </a>
                                            {% else %}
                                                <span class="icon">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </span>
                                                <span class="icon">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                                <span class="icon">
                                                    <i class="fas fa-trash-alt"></i>
                                                </span>
                                            {% endif %}
                                            <a href="{% url 'agendamento_exibir' agendamento.pk %}">
                                                    <span class="icon">
                                                        <i class="far fa-check-circle"></i>
                                                    </span>
                                                </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                            {% bootstrap_pagination object_list url="/agendamentos?page=1" size="sm" %}
                        </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}