    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do Atendimento</h3>
                <p class="p-2 mt-2"><strong>Horário: </strong></p>
                <p class="p-2 mt-2"><strong>Cliente: </strong></p>
                <p class="p-2 mt-2"><strong>Funcionário responsável pelo atendimento: </strong>
                </p>
                <h4> Serviços realizados </h4>
                <p class="p-2 ml-4"><strong>Valor total: </strong></p>
                <div class="text-end">
                        <a href="#" class="btn btn-primary text-white" type="button">
                           <span class="text">Voltar</span>
                        </a>
                </div>
            </div>
        </div>
    </div>